<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Commutify</title>
  <!-- Don't edit, add Bower dependencies and/or configure main files in Gruntfile.js -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/bootflatv2/bootflat/css/bootflat.min.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->

  <!-- Don't edit, import Less file in style.less -->
  <!-- injector:css -->
  <link rel="stylesheet" href="dist/style.css">
  <!-- endinjector -->
</head>
<body ng-app="commutify">
  <nav class="navbar navbar-default navbar-fixed-top" ui-view="navView"></nav>
  <div class="container-fluid" ui-view="mainView"></div>

<!-- Don't edit, add Bower dependencies and/or configure main files in Gruntfile.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/calendrical/src/calendrical.js"></script>
<!-- endbower -->

<!-- Don't edit, follow naming conventions -->
<!-- injector:js -->
<script src="app/application.module.js"></script>
<script src="app/http.config.js"></script>
<script src="app/routing/routes.config.js"></script>
<script src="app/services/user.service.js"></script>
<script src="app/feature-edit-profile/emission-picker/car.factory.js"></script>
<script src="app/routing/state.factory.js"></script>
<script src="app/services/profile.factory.js"></script>
<script src="app/feature-edit-profile/emission-picker/emissionPicker.directive.js"></script>
<script src="app/feature-profile/calendar/commutifyCalendar.directive.js"></script>
<script src="app/feature-edit-profile/editProfile.controller.js"></script>
<script src="app/feature-login/feature-register/register.controller.js"></script>
<script src="app/feature-login/login.controller.js"></script>
<script src="app/feature-navbar/navbar.controller.js"></script>
<script src="app/feature-overview/overview.controller.js"></script>
<script src="app/feature-profile/profile.controller.js"></script>
<script src="dist/application.templates.js"></script>
<!-- endinjector -->
</body>
</html>